@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Roboto, sans-serif;
}

* {
  @apply duration-150;
}
a,
.a {
  @apply text-blue-400 underline underline-offset-2 cursor-pointer;
}
a:hover,
.a:hover {
  @apply text-blue-300;
}

.material-icons-round {
  @apply text-3xl;
}
.icon-button {
  @apply rounded-full w-10 h-10;
}

button {
  @apply flex items-center justify-center;
}
button:hover {
  @apply bg-slate-600;
}
button:active {
  @apply bg-slate-500;
}

body,
#svelte {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
